<footer class="footer" *ngIf="footerTodos.length > 0">
  <!-- This should be `0 items left` by default -->
  <span class="todo-count" [ngStyle]="{color: tooMany ? 'red' : '',
                                       fontWeight: tooMany ? 'bold' : ''}">
    <strong>{{footerTodos.length}}</strong> item left
  </span>
  <!-- Remove this if you don't implement routing -->
  <ul class="filters">
    <li>
      <a [ngClass]="{'selected': switchT === 'all'}" href="#/" (click)="switchType('all')">All</a>
    </li>
    <li>
      <a [ngClass]="{'selected': switchT === 'active'}" href="#/active" (click)="switchType('active')">Active</a>
    </li>
    <li>
      <a [ngClass]="{'selected': switchT === 'completed'}" href="#/completed" (click)="switchType('completed')">Completed</a>
    </li>
  </ul>
  <!-- Hidden if no completed items are left ↓ -->
  <button class="clear-completed" (click)="clearCompletedfromFooter()">Clear completed</button>
</footer>
